.App {

}

.main {
  text-align: center;
}

.header {
  margin: 15px;
  display: block;
  color: maroon;
}


.input-group {
  text-align: center;
  display: inline-block;
  margin: 10px;
  width: 90px;
}

.inline-text {
    display: inline-block;
}
